<div class="col-md-2 col-md-offset-1 sidebar_nav" id="sidebar_desktop">
    <div class=" well sidebar_block">
        <ul class="list-group sidelist">
            <li class="sidebar_item" ><a href="" class="sidebar_a">Recomendation</a><span class = "label label-default pull-right">0</span></li>
            <li class="sidebar_item"><a href="" class="sidebar_a" aside-menu-toggle="right">Сonversations</a><span class = "label label-default pull-right">0</span></li>
            <li class="sidebar_item"><a href="" class="sidebar_a">They like me</a><span class = "label label-default pull-right">0</span></li>
            <li class="sidebar_item"><a href="" class="sidebar_a">Invertos</a><span class = "label label-default pull-right">0</span></li>
            <li class="sidebar_item"><a href="" class="sidebar_a">They visited me</a><span class = "label label-default pull-right">0</span></li>
        </ul>
    </div>
    <div><button class="btn btn-default deposit">Find singles  <img src="../icons/search.png" class="pull-right" id="img_search"></button></div>
    <div class=" well sidebar_block">
        <ul class="list-group sidelist">
            <li class="sidebar_item"><a href="" class="sidebar_a">New faces</a><img src="../icons/smile.png" class="pull-right img_icon"></li>
            <li class="sidebar_item"><a href="" class="sidebar_a">Users online</a><img src="../icons/chat.png" class="pull-right img_icon"></li>
            <li class="sidebar_item"><a href="" class="sidebar_a">They like me</a><img src="../icons/birthday.png" class="pull-right img_icon"></li>
        </ul>
    </div>
    <div>
        <div class="well sidebar_block">
            <ul class="photo_list list-inline">
                <li>Testimonials</li>
                <li>Rocks</li>
                <li>Blog</li>
                <li>Private</li>
                <li>Datingchile 2016</li>
            </ul>
        </div>
    </div>
</div>