<div class="row" id="tablet_head_menu">
    <div class="col-sm-5 col-xs-7 row tablet_head">
        <div class="col-sm-2 col-xs-2 col-sm-offset-1 col-xs-offset-1"><span class="glyphicon glyphicon-menu-hamburger" aside-menu-toggle="left"></span><span class ="label label_mes">1</span></div>
        <span class="glyphicon glyphicon-check col-sm-2 col-xs-2"></span>
        <span class="glyphicon glyphicon-calendar col-sm-2 col-xs-2"></span>
        <span class="glyphicon glyphicon-file col-sm-2 col-xs-2"></span>
        <span class="glyphicon glyphicon-credit-card col-sm-2 col-xs-2"></span>
    </div>
    <div class="col-sm-1 col-sm-offset-6 col-xs-1 col-xs-offset-4 tablet_head"><span class="glyphicon glyphicon-search"></span></div>
</div>